/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
  color:  #f20a3c;
}

.white {
  color: #f0f8ff;
}

.v-middle {
  vertical-align: middle;
}

.msg-success {
  background-color: #1f6e6e;
  color: #f0f8ff;
}

.msg-error {
  background-color: #6e221f;
  color: #f0f8ff;
}
